@font-face {
  font-family: 'ClashGrotesk';
  src: url('../fonts/ClashGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi.ttf') format('truetype');
}

:root {
  --mob-fontSize-block-info: 18px;
  --mob-fontSize-block-mainTitle: 52px;
  --small-mob-fontSize-block-mainTitle: 35px;
  --small-mob-fontSize-block-info: 14px;
  --tablet-fontSize-mainTitle: 86px;
}
html,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.pc-br {
  display: none;
}


.dropdown-nav {
  color:white;
  background: black;
  position: absolute;
  padding: 0 18px 0 18px;
  left: 0;
  width: calc(100%);
  height: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height .05s ease-out;
  background: linear-gradient(180deg, #1E071F 0%, #0B091C 100%);

  font-family: ClashGrotesk, serif;
  font-weight: 700;
}

.dropdown-nav::after {
  content: " ";
  position: absolute;
  bottom:0;
  left: 0;
  height: 8px;
  width: 100%;
  background: #1A1628;
}
.dropdown-row-links {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  row-gap: 12px;
}

.social-checkout {
  font-family: ClashGrotesk, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: #7E7994;
}

.social-row {
  display: flex;
  column-gap: 12px;
}

.social-item {
  display: flex;
  justify-content: center;
  width: 24px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.05);
  height: 24px;
}

.social-item:hover {
  opacity: .7;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  display: block;
  border: 1px solid #F7F7FA;
  cursor: pointer;
}

.checkbox:checked + label {
  border-image: linear-gradient(90deg, #9E63FF 0%, #FF2DA0 100%) 1;
  background: linear-gradient(90deg, #9E63FF 0%, #FF2DA0 100%);
}

.checkbox:checked ~ .dropdown-nav{
  flex-direction: column;
  height: 100vh;
  max-height: 400px;
}

.announcement {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px ;
  background: linear-gradient(270deg, #FF2DA0 0%, #7063FF 50.4%, #16BAFF 99.32%);
  font-family: "ClashGrotesk", serif;
  font-weight: 600;
  width: 100%;
}

.announcement-button {
  height: 18px;
  width: 28px;
  border-radius: 32px;
  border: none;
  background: #FFFFFF26 url("/public/img/arrow.svg") no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
}

.navigation-header {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 6px;
  color: white;
  background: transparent;
}


.drone-container {
  position: relative;
}

.drone-title {
  position: absolute;
  top:40%;
  left: 0;
  text-align: center;
  width: 100%;
  color: #A5E7FF;
  font-family: ClashGrotesk, serif;
  font-size: 38px;
  font-weight: 600;
}

.drone-desc {
  bottom: 32%;
  position: absolute;
  left: 42%;
  max-width: 450px;
  font-family: ClashGrotesk,serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  color: #A5E7FF;
}

.mob-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
a {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}
.mob-nav .links a:visited {
  color: #F7F7FA;
}
.dropdown-row-links a:visited {
  color: #F7F7FA;
}
.calendar-button {
  width: 54px;
  height: 38px;
  background: white url("/public/img/calendar.svg");
  border: none;
}

.calendar-button:hover {
  opacity: .7;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.brands-column {
  flex-wrap: wrap;
  gap: 4px;
}

main {
  position: relative;
  max-width: 1365px;
}
.rocket {
  display: flex;
  justify-content: center;
  position: absolute;
}

.introduction {
  background: transparent;
  /*height: 590px;*/
  position: relative;
  z-index: 1;

}

.main-title {
  font-family: "ClashGrotesk", serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.born {
  background: linear-gradient(90deg, #16BAFF 0%, #8CC8FF 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.built {
  background: linear-gradient(90deg, #9E63FF 0%, #FF2DA0 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


html,body {
  background: url("/public/img/bg.png") center;
}

.about-us {
  font-family: "ClashGrotesk", serif;
  color: white;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 26px;
  align-self: stretch;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.introduction .block-info {
  padding-top: 24px;
  padding-bottom: 42px;
  width: 100%;
}
@media screen and (min-width: 340px) {
  br {
    display: none;
  }
}
.brand-card {
  margin-right: 12px;
}

.policy-row a {
  position: relative;
}
.policy-row a:first-of-type:after {
  content: " ";
  position: absolute;
  width: 1px;
  background: #4C445B;
}

@media screen and (min-width: 240px) {
  .services::after {
    top: 950px;
    left: -180px;
  }

  .carousel-nav {
    padding-top: 24px;
  }

  .footer-gradient {
    margin: 14px 0;
  }

  .services .block-info {
    padding-bottom: 36px;
  }

  .policy-row a:first-of-type:after {
    height: 16px;
    left: 110px;
  }

  .policy-row {
    position: relative;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
  }

  .tagline-main {
    padding: 0 18px;
  }

  .footer-pc-logo {
    width: 185px;
  }

  .brands .network-row-wrapper {
    width: 1400px;
  }

  .brands .network-row-wrapper-second {
    width: 1400px;
  }

  .button-left {
    width: 73px;
    height: 40px;
  }

  .button-right {
    width: 73px;
    height: 40px;
  }

  .stay-curious {
    height: 87px;
  }

  .stay-curious img {
    width: calc(100% - 32px);
  }

  .services .block-title {
    margin-bottom: 12px;
  }

  .service-button {
    display: none;
  }

  .service-list-header {
    width: calc(100% - 24px);
    padding: 0 12px;
    font-size: 14px;
    line-height: 28px;
  }

  .network {
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: 650% 630px;
    background-position-x: 46% !important;
    background-position-y: -60px !important;
    /*background-position-y: 112px !important;*/
  }

  .team {
    padding-bottom: 280px;
  }

  .tag-container::after {
    right: -650px;
  }

  .stats::after {
    left: 0;
    top: 130px;
  }

  .logo-row {
    display: flex;
    padding-bottom: 40px;
  }

  .logo-row.privacy{
    display: none;
    padding: 0;
  }

  .footer-pc-logo {
    display: none;
  }

  .service-footer-column {
    display: flex;
    flex-direction: column-reverse;
  }

  .services-footer-item {
    font-size: 12px;
    line-height: 16px;
  }

  .column-footer-item {
    row-gap: 8px;
  }

  .footer-wrapper {
    padding: 34px 0;
    width: calc(100% - 36px);
  }

  .building-tagline {
    font-size: 14px;
    padding: 40px 0;
    line-height: 22px;
  }

  .services-footer-list {
    column-gap: 12px;
  }

  .column-footer-item {
    width: calc(50% - 6px);
  }

  .services-footer-item.design {
    max-width: 130px;
  }

  .services-footer-item.twitter {
    max-width: 120px;
  }

  .services-footer-item.collaborations {
    max-width: 120px;
  }

  .stats-card:first-of-type {
    border-right: 2px solid #181A2C;
    border-bottom: 2px solid #181A2C;
  }

  .stats-card:nth-child(2) {
    border-bottom: 2px solid #181A2C;
  }

  .stats-card:last-of-type {
    border-left: 2px solid #181A2C;
  }

  .stats-card {
    padding: 12px 10px;
    width: calc(50% - 21px)
  }

  .tagline-column {
    flex-direction: column;
    align-items: center;
  }

  .team-column {
    flex-direction: column;
  }

  .stats {
    margin: 82px 18px 0;
  }

  .team-container {
    margin: 0 18px;
  }

  .stats-title {
    padding-top: 12px;
    font-size: 42px;
    line-height: 54px;
  }

  .team-title {
    font-size: 32px;
    line-height: 42px;
    max-width: 230px;
  }

  .team-desc {
    font-size: 14px;
    line-height: 22px;
    padding-top: 12px;
    padding-bottom: 36px;
  }

  .founder {
    padding-top: 12px;
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .bottom-tagline-container {
    padding-top: 82px;
    padding-bottom: 354px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .bottom-tagline {
    text-align: center;
    max-width: 280px;
    font-size: 32px;
    line-height: 42px;
  }

  .footer-rocket {
    left: 190px;
    width: 100%;
    top: 250px;
    scale: .45;
  }

  .introduction {
    margin: 28px 18px 0 18px;
  }

  .drone-title {
    display: none;
  }

  .drone-desc {
    display: none;
  }

  .announcement {
    height: 32px;
  }

  .drone {
    display: none;
  }
  .social-checkout {
    padding: 24px 0 16px 0;
  }

  .line {
    left: 10px;
  }

  .line1 {
    top: 12px;
  }

  .line2 {
    top: 18px;
    transform: translateY(-50%);
  }

  .line3 {
    bottom: 12px;
  }

  .dropdown-nav {
    top: 68px;
    font-size: 36px;
    line-height: 38px;
  }

  .checkbox + label {
    width: 36.4px;
    height: 36.4px;
  }

  .brands .running-section {
    padding-top: 26px;
    padding-bottom: 84px;
  }

  .brands-column {
    display: none;
  }

  .brand-card {
    width: 216px;
    height: 98px;
  }

  .divider {
    width: calc(100% - 40px);
    margin-top: 82px;
    margin-bottom: 34px;
  }

  .rocket {
    top: -250px;
    right: 100px;
    width: 100%;
    scale: .43;
  }

  .navigation-header {
    height: 68px;
  }

  .mob-nav {
    width: 100%;
    margin: 0 18px;
  }

  .mob-nav .book-button {
    display: none;
  }

  .checkbox-container {
    height: 36.4px;
    width: 36.4px;
  }

  .services {
    padding: 0 18px;
    margin-bottom: 82px;
  }

  .block-title {
    font-size: 32px;
    line-height: 42px;
  }

  .block-info {
    font-size: var(--small-mob-fontSize-block-info);
    max-width: 275px;
  }

  .main-title {
    font-size: var(--small-mob-fontSize-block-mainTitle);
    line-height: 38px;
    letter-spacing: .7px;
  }

  .brands {
    padding-top: 336px;
  }

  .brands-title {
    font-size: 16px;
    line-height: 24px;
  }

  .brands-column {
    margin-top: 26px;
    margin-bottom: 82px;
  }

  .tagline {
    font-size: 36px;
    max-width: 244px;
  }



  .network {
    margin: 0 18px;
  }

  .network .block-info {
    margin-bottom: 36px;
    margin-top: 12px;
    max-width: 260px;
  }

  .gradient-container {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 16px;
    max-width: 64px;
    max-height: 28px;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 18px);
    height: 108px;
    padding: 8px;
  }

  .service-column {
    padding: 8px;
  }
  .links {
    display: none;
  }
  .network-br {
    display: block;
  }
}

@media screen and (min-width: 480px) {
  .carousel-nav {
    padding-top: 32px;
  }

  .footer-gradient {
    margin: 22px 0;
  }

  .services .block-info {
    padding-bottom: 42px;
  }

  .policy-row a:first-of-type:after {
    left: 124px;
    height: 20px;
  }

  .policy-row {
    font-size: 14px;
    line-height: 22px;
  }

  .stay-curious {
    height: 103px;
  }

  .services .block-title {
    margin-bottom: 24px;
  }

  .services {
    margin-bottom: 112px;
  }

  .network {
    background-repeat: no-repeat;
    background-size: 500% 630px;
    background-position-x: 50% !important;
    background-position-y: -50% !important;
  }

  .logo-row {
    padding-bottom: 42px;
  }

  .building-tagline {
    padding: 42px 0;
    font-size: 18px;
    line-height: 28px;
  }

  .column-footer-item {
    width: calc(50% - 16px);
  }

  .services-footer-list {
    column-gap: 32px;
  }

  .services-footer-item {
    font-size: 14px;
    line-height: 22px;
  }

  .services-footer-item.design {
    max-width: 180px;
  }

  .services-footer-item.twitter {
    max-width: 190px;
  }

  .services-footer-item.collaborations {
    max-width: 170px;
  }

  /*footer {*/
  /*  margin-top: 60px;*/
  /*}*/

  .tagline-column {
    align-items: start;
  }

  .stats {
    margin: 112px 18px 0;
  }

  .team-desc {
    font-size: 18px;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 42px;
    max-width: 450px;
  }

  .team-title {
    font-size: 42px;
    line-height: 54px;
    /*padding-top: 16px;*/
    max-width: 320px;
  }

  .founder {
    font-size: 18px;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 42px;
    text-align: left;
  }

  .bottom-tagline {
    font-size: 42px;
    text-align: left;
    max-width: 460px;
    line-height: 54px;
  }

  .bottom-tagline-container {
    padding-top: 112px;
    padding-bottom: 522px;
    align-items: start;
    justify-content: start;
  }

  .footer-rocket {
    left: 295px;
    width: 100%;
    top: 500px;
    scale: .71;
  }

  .introduction {
    margin: 36px 18px 0 18px;
  }

  .announcement {
    height: 40px;
  }

  .social-checkout {
    padding: 43px 0 16px 0;
  }

  .line {
    left: 17px;
  }
  .line1 {
    top: 18px;
  }

  .line2 {
    top: 24px;
    transform: translateY(-50%);
  }

  .line3 {
    bottom: 18px;
  }

  .dropdown-nav {
    top: 94px;
    font-size: 46px;
    line-height: 54px;
  }

  .checkbox + label {
    width: 48.4px;
    height: 48.4px;
  }

  .brands .running-section {
    padding-top: 42px;
    padding-bottom: 112px;
  }

  .brand-card {
    width: 224px;
  }

  .divider {
    margin-top: 112px;
    margin-bottom: 34px;
  }

  .rocket {
    top: -95px;
    right: 160px;
    width: 100%;
    scale: .63;
  }



  .mob-nav .book-button {
    display: block;
    height: 50px;
    width: 170px;
  }

  .navigation-header {
    height: 94px;
  }


  .calendar-button {
    display: none;
  }

  .block-title {
    font-size: 42px;
    line-height: 54px;
  }

  .block-info {
    font-size: var(--mob-fontSize-block-info);
    max-width: 430px;
  }

  .main-title {
    font-size: var(--mob-fontSize-block-mainTitle);
    line-height: 62px;
    letter-spacing: 1.04px;
  }

  .brands {
    padding-top: 500px;
  }

  .brands-title {
    font-size: 24px;
    line-height: 32px;
  }

  .brands-column {
    margin-top: 42px;
    margin-bottom: 112px;
  }

  .tagline {
    max-width: 400px;
    font-size: 52px;
  }



  .network .block-title {
    max-width: 500px;
  }

  .network .block-info {
    max-width: 380px;
  }

  .network .block-info {
    margin-bottom: 42px;
    margin-top: 24px;
  }

  .gradient-container {
    margin-bottom: 32px;
    font-size: 21px;
    line-height: 32px;
    padding: 7px 21px;
    max-width: 99px;
    max-height: 32px;
  }
}

@media screen and (min-width: 758px)
{
  .team-container {
    margin: 0;
  }

  .services::after {
    top: 750px;
    left: -180px;
  }

  .navigation-header:after {
    position: absolute;
    content: " ";
    width: 668px;
    height: 697px;
    border-radius: 697px;
    opacity: 0.15;
    left: 25%;
    background: linear-gradient(270deg, #16BAFF 0%, #16BAFF 100%);
    filter: blur(222px);
  }

  .policy-row {
    justify-content: start;
  }

  .tagline-main {
    justify-content: end;
  }

  .brands .network-row-wrapper {
    width: 1240px;
  }

  .brands .network-row-wrapper-second {
    width: 1240px;
  }

  .button-left img, .button-right img {
    scale: 0.8;
  }

  .button-left img {
    padding-top: 2px;
  }

  .button-right img {
    padding-bottom: 2px;
  }

  .button-left {
    width: 48px;
    height: 32px;
  }

  .button-right {
    width: 48px;
    height: 32px;
  }

  .stay-curious {
    height: 149px
  }

  .stay-curious img{
    width: calc(100% - 80px);
  }

  .network {
    background-repeat: no-repeat;
    background-size: 230% 550px;
    background-position-x: 50% !important;
    background-position-y: 0 !important;
  }

  .service-list-header {
    padding: 0 27px;
    width: calc(100% - 54px);
    font-size: 18px;
    line-height: 28px;
  }

  .team {
    padding-bottom: 280px;
  }

  .stats::after {
    left: 400px;
    top: 170px;
  }

  .carousel-nav {
    justify-content: center;
  }

  .building-tagline {
    letter-spacing: .08px;
    max-width: 680px;
  }

  .footer-wrapper {
    padding: 54px 0;
    width: calc(100% - 80px);
  }

  .services-footer-list {
    column-gap: 64px;
  }

  .column-footer-item {
    width: calc(50% - 32px);
  }

  /*footer {*/
  /*  margin-top: 0;*/
  /*}*/

  .team-title {
    padding-top: 0;
    font-size: 48px;
    line-height: 58px;
  }

  .team-column {
    flex-direction: row;
    justify-content: space-between;
  }

  .stats {
    margin: 112px 40px 0;
  }

  .team {
    margin: 0 40px;
  }

  .bottom-tagline-container {
    align-items: end;
    justify-content: start;
    padding-bottom: 40px;
  }

  .bottom-tagline {
    font-size: 48px;
    line-height: 58px;
    max-width: 440px;
  }

  .footer-rocket {
    left: 35px;
    top: 40px;
    scale: .55;
  }

  .stats-title {
    font-size: 60px;
    line-height: 64px;
  }

  .introduction {
    margin: 76px 40px 0 40px;
  }

  .mob-nav {
    margin: 0 40px;
  }

  .network {
    margin: 0 40px;
  }

  .tagline_line2 {
    max-width: 800px;
  }

  .tagline_line3 .line3 {
    display: none;
  }

  .checkbox {
    display: none;
  }
  .brand-card {
    width: 189px;
    height: 102px;
  }

  .divider {
    width: calc(100% - 38px);
    margin-top: 113px;
    margin-bottom: 54px;
  }

  .rocket {
    top: 40px;
    right: 180px;
    width: 100%;
    scale: .7;
  }

  .links {
    display: flex;
  }

  .main-title {
    font-size: var(--tablet-fontSize-mainTitle);
    line-height: 100px;
  }
  .introduction .block-info {
    max-width: 550px;
    padding-top: 26px;
    padding-bottom: 64px;
  }
  .pc-br {
    display: block;
  }

  .tagline {
    max-width: 950px;
  }

  .capabilities-column {
    display: flex;
    justify-content: space-between;
  }

  .services .capabilities-column .block-info {
    min-width: 440px;
  }

  .services {
    padding: 0 38px;
  }

  .service-card {
    width: calc(33.2% - 18px);
    height: 96px;

  }

  .service-column {
    padding: 16px;
  }

  .network .block-info {
    max-width: 550px;
  }

  .network .block-title {
    font-size: 48px;
  }
  .checkbox + label {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .footer-rocket {
    left: 50px;
    scale: .63;
  }

  .bottom-tagline {
    padding-right: 50px;
  }

}
@media screen and (min-width: 1080px) {


  footer {
    margin-top: 65px;
  }

  .introduction {
    margin-top: 64px;
  }

  .footer-pc-logo {
    width: 285px;
  }

  .stay-curious {
    height: 181px
  }

  .services {
    margin-bottom: 164px;
  }

  .network {
    background-repeat: no-repeat;
    background-size: 150% 450px;
    background-position-x: 50% !important;
  }

  .team {
    padding-bottom: 280px;
  }

  .tag-container::after {
    right: -590px;
  }

  .stats::after {
    left: 800px;
    top: -100px;
  }

  .services-footer-item.twitter {
    max-width: 200px;
  }

  .services-footer-item.collaborations {
    max-width: 100%;
  }

  .left-column .policy-row {
    display: none;
  }

  .logo-row {
    display: none;
  }

  .logo-row.privacy{
    display: flex;
    align-items: end;
  }

  .footer-pc-logo {
    display: block;
  }

  .left-column {
    width: 38%;
  }

  .right-column {
    width: 62%;
  }

  .service-footer-column {
    flex-direction: row;
    column-gap: 48px;
  }

  .column-footer-item {
    row-gap: 12px;
  }

  .service-footer-column {
    display: flex;
    height: 409px;
  }

  .building-tagline {
    font-size: 14px;
    max-width: 390px;
    line-height: 20px;
    padding: 0;
  }

  /*footer {*/
  /*  margin-top: 60px;*/
  /*}*/

  .footer-rocket {
    left: 10px;
    scale: .7;
  }

  .bottom-tagline-container {
    padding-top: 164px;
  }

  .team-title {
    max-width: 700px;
  }

  .team-desc {
    max-width: 600px;
  }

  .bottom-tagline {
    padding-right: 0;
    max-width: 600px;
  }

  .tagline_line2 {
    max-width: 100%;
  }
  .tagline_line3 .line3 {
    display: block;
  }
  .tagline_line2 .line2{
    display: none;
  }
  .brands .running-section {
    display: none;
  }

  .brand-card {
    margin-right: 0;
    width: calc(25% - 4px);
  }

  .brands-column {
    display: flex;
    width: calc(100% - 80px);
  }

  .divider {
    width: calc(100% - 40px);
    margin-top: 164px;
    margin-bottom: 54px;
  }

  .rocket {
    top: 150px;
    right: 230px;
    width: 100%;
    scale: .9;
  }

  .main-title {
    font-size: 86px;
  }

  .brands {
    padding-top: 678px;
  }

  .tag-container .tagline {
    max-width: 100%;
  }

  .tagline .tagline_line1 {
    display: flex;
    justify-content: end;
  }

  .tagline_line3 {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: start;
    column-gap: 16px;
  }

  .tagline_line3 img {
    padding: 0;
    /*padding-top: 15px;*/
    position: absolute;
    bottom: -3px;
    height: 65px;
  }

  .services .block-info {
    max-width: 600px;
  }

  .network-br {
    display: none;
  }

  .network .block-title {
    max-width: 700px;
  }

  .network .block-info {
    max-width: 680px;
  }
}
@media screen and (min-width: 1200px)
{
  .footer-rocket {
    left: 0px;
    scale: .75;
  }
  footer {
    margin-top: 82px;
  }
}
@media screen and (min-width: 1440px)
{
  .services::after {
    top: 750px;
    left: -250px;
  }

  footer {
    margin-top: 0px;
  }
  .tagline_line3 img {
    padding: 0;
    position: absolute;
    bottom: -3px;
    height: 88px;
  }
  .footer-wrapper {
    padding: 54px 0;
    width: 100%;
  }
  .service-footer-column {
    justify-content: space-between;
  }

  .building-tagline {
    max-width: 370px;
  }

  .stay-curious {
    height: 217px;
  }

  .network {
    background-repeat: no-repeat;
    background-size: 100% 444px;
    background-position-x: 50% !important;
  }

  .tag-container::after {
    right: -650px;
  }

  .services-footer-item.twitter {
    max-width: 100%;
  }

  .services-footer-item.design {
    max-width: 100%;
  }

  .stats-card {
    padding: 42px 10px;
    border-right: 2px solid #181A2C;
  }

  .stats-card:first-of-type {
    border-right: 2px solid #181A2C;
    border-bottom: none;
  }
  .stats-card:nth-child(2) {
    border-right: 2px solid #181A2C;
    border-bottom: none;
  }
  .stats-card:last-of-type {
    border-right: none;
    border-left: none;
  }

  .team {
    margin: 0;
  }

  .stats {
    flex-direction: row;
    margin: 200px 0 0 0;
  }

  .stats-card img{
    padding-left: 14px;
    padding-right: 14px;
  }

  .stats-card {
    display: flex;
    align-items: center;
    width: calc(25% - 22px);
  }

  .stats-title {
    padding-top: 0;
  }

  /*footer {*/
  /*  margin-top: 310px;*/
  /*}*/

  .team-title {
    max-width: 811px;
  }

  .team-desc {
    max-width: 811px;
  }

  .capabilities-flex {
    flex: .662;
  }

  .footer-rocket {
    left: 0;
    width: 100%;
    top: 200px;
    scale: 1;
    object-fit: cover;
  }

  .footer-rocket img {
    object-fit: cover;
  }

  .bottom-tagline-container {
    padding-top: 242px;
  }

  .bottom-tagline {
    max-width: 800px;
  }

  .mob-nav {
    margin: 0 0;
  }

  .introduction {
    margin: 122px 0 0 0;
  }

  .drone-title {
    display: block;
  }

  .drone-desc {
    display: block;
  }

  .drone {
    display: block;
  }

  .service-card {
    flex-direction: row;
    width: calc(50% - 27px);
    align-items: center;
    justify-content: start;
    height: 54px;
    padding: 12px;
  }

  .service-card:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(214, 218, 227, 0.05), rgba(214, 218, 227, 0.05)),
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) -0.13%, rgba(255, 255, 255, 0) 79.35%);
    /*url("/public/img/services/button.png") no-repeat 95% 50%;*/
  }

  .service-button {
    display: inline-block;
    opacity: 0;
    transform: scale(0.8);
    margin-left: auto;
    margin-right: 5px;
    transition: transform .3s ease-out ;
  }

  .service-card .service-button {
    opacity: 1;
    transform: scale(0);
  }

  .service-card:hover .service-button {
    opacity: 1;
    transform: scale(1.2);
  }

  .service-name {
    padding-left: 12px;
    max-width: 154px;
  }

  .brand-card {
    height: 126px;
  }

  .brands-column {
    width: calc(100%);
    margin-bottom: 200px;
  }

  .divider {
    margin-top: 200px;
    margin-bottom: 54px;
  }

  .rocket {
    top: -220px;
    left: 40px;
    width: 100%;
    scale: .9;
  }

  .brands {
    padding-top: 200px;
  }

  .tagline {
    font-size: 70px;
    line-height: 2.1px;
  }

  .services {
    padding: 0;
    margin-bottom: 200px;
  }

  .network {
    margin: 0;
  }
  .tagline-column {
    display: flex;
    width: 60%;
    max-width: 1365px;
  }

  .space-div {
    width: 40%;
  }

  .bottom-tagline-container {
    display: flex;
    margin-top: 200px !important;
    padding: 0;
    height: 73vh;
    width: 100vw;
    background: url("/public/img/footer_rocket.png") no-repeat;
    background-position: 45%;
    background-size: 100% 100%;
  }

  .tagline-column {
    padding-top: 40px;
  }

  .bottom-tagline-container img {
    display: none;
  }
}

.tagline-main {
  display: flex;
  width: 100%;
  max-width: 1365px;
}
.tagline-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1920px)
{
  .tagline-column {
    padding-top: 70px;
  }
}
@media screen and (min-width: 2500px) {
  .bottom-tagline-container {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.mob-nav .book-button {
  max-width: 170px;
  align-self: end;
}
.book-button {
  width: 100%;
  height: fit-content;
  max-width: 214px;
  color:#04020D;
  background: #F7F7FA;
  font-family: Satoshi, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  line-height: 26px;
  max-height: 50px;
  text-transform: uppercase;
  padding: 10px 28px;
  border: none;
  position: relative;
  z-index: 2;
}

.book-button:hover {
  opacity: .7 !important;
  cursor: pointer !important;

}

.brands {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 5;
  width: 100%;
}

.brands-title {
  font-family: ClashGrotesk, serif;
  color:#F7F7FA;
  font-style: normal;
  font-weight: 600;
}
.brands-title span {
  background: linear-gradient(90deg, #16BAFF 0%, #8CC8FF 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tagline {
  color: #F7F7FA;
  text-align: center;
  font-family: ClashGrotesk, serif;
  font-weight: bolder;
  line-height: normal;
  text-transform: uppercase;
}


.brand-card {
  display: flex;
  position: relative;
  background: #75667D;
  border-radius: 12px;
  background: rgba(239, 60, 189, 0.05);
  backdrop-filter: blur(12px);
  justify-content: center;
  color: white;
  align-items: center;
}


.tag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tag-container img {
  padding-top: 16px;
}
.divider {
  padding: 0 20px;
  background: linear-gradient(90deg, #9E63FF 0%, #FF2DA0 100%);
  height: 2px;
}
.services {
  color: white;
  position: relative;
}
.service-row {
  display: flex;
}


.gradient-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  color: black;
  background-image:linear-gradient(270deg, #FF2DA0 0%, #7063FF 50.75%, #16BAFF 100%);
  overflow: hidden;
  clip-path:
    polygon(
      0% 100%,     /* верхняя левая */
      0% 0%,     /* верхняя левая */
      90% 0%,    /* верхняя правая */
      100% 35%,   /* верхняя правая */
      100% 100%,  /* нижняя правая */
      100% 100%,  /* нижняя правая */
      8% 100%,   /* нижняя левая */
      0 80%      /* нижняя левая */
    );
  font-family: ClashGrotesk, serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.block-title {
  color: #FFF;

  /* Mobile/H2 */
  font-family: ClashGrotesk, serif;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

.block-info {
  color: #D6DAE3;

  /* Mobile/Regular */
  font-family: ClashGrotesk, serif;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.service-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: linear-gradient(90deg, #9E63FF 0%, #FF2DA0 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color:  #04020D;
  font-family: ClashGrotesk, serif;
  font-weight: 500; /* 500 */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.service-card {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);

}

.service-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 8px;
  background:
    linear-gradient(
      138deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0.04) 100%);
}



.service-name {
  color: #8F92A0;

  /* Mobile/SmallCaption/Init */
  font-family: ClashGrotesk, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
}

.service-column {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background: linear-gradient(180deg, #1E071F 0%, #0B091C 100%);
  gap: 4px;

}


.network {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  max-width: 100%;

  background-image: radial-gradient(circle,rgba(255,45,160,.141) 2%,rgba(11,9,28,.569) 100%), url("/public/img/network_bg.png");
}

.network .gradient-container {
  margin-top:  54px;
}


.network-carousel {
  padding-top: 66px;
  padding-bottom: 32px;
  background-color: #0b091c;
  box-shadow: 0 -60px 42px -28px #0b091c;
  height: 100px;
  overflow: hidden;
  width: 100%;
}
.network-row-wrapper {
  display: flex;
  justify-content: space-between;
  width: 2000px;
  overflow: hidden;
  position: absolute;
  -webkit-transform: translate(100%);
  transform: translate(100%);
  animation: move-row 60s linear infinite forwards;
}
.running-section {
  display: flex;
  align-items: center;
  min-height: 100px;
  position: relative;
  width: 100%;
}
@keyframes move-row {
  0% {
    transform: translate(100%);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}
.network-row-wrapper-second {
  animation: move-row 60s linear infinite forwards;
  animation-delay: -30s;
  display: flex;
  width: 2000px;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  -webkit-transform: translate(100%);
  transform: translate(100%);
}
.network-card {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 333px;
  border: 1px solid #1E1F35;
  margin-right: 12px;
}

.mob-nav .links {
  font-family: ClashGrotesk, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  column-gap: 32px;
}

.links div:hover {
  cursor: pointer;
  opacity: .7;
  position: relative;
  z-index: 1;
}
.nav-buttons {
  display: flex;
  column-gap: 6px;
}

.hamburger {
  display: block;
  width: 8px;
  height: 8px;
  position: relative;
  cursor: pointer;
}

.line {
  width: 15px;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#myCheckbox:checked + .hamburger .line1 {
  transform: translateY(5px) rotate(45deg);
  background: black;
}

#myCheckbox:checked + .hamburger .line2 {
  opacity: 0;
}

#myCheckbox:checked + .hamburger .line3 {
  transform: translateY(-5px) rotate(-45deg);
  background: black;
}

.navigation-header:has(#myCheckbox:checked){
  background: linear-gradient(1deg, #1E071F 0%, #0B091C 100%);
}

.stats {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #181A2C;
  color: white;
}

.stats-card {
  /*backdrop-filter: blur(12px);*/
}

.stats-title {
  font-family: ClashGrotesk, serif;
  font-weight: 600;
}

.stats-desc {
  font-family: ClashGrotesk, serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}




.team-title {
  color: #FFFFFF;
  font-family: ClashGrotesk, serif;
  font-weight: 600;
}


.team-desc {
  color: #D6DAE3;
  font-family: ClashGrotesk, serif;
  font-weight: 500;
}

.team-carousel {
  width: 80%;
  height: 276px;
  background: white;
}

.carousel-nav {
  display: flex;
  z-index: 2;
  position: relative;
  column-gap: 16px;
  padding-left: 18px;
}
.button-left {
  border: none;
  background: white;
  border-radius: 33px;
}
.button-left:hover {
  cursor:pointer;
  opacity: .7;
}

.button-right {
  border: none;
  background: white;
  border-radius: 33px;
}

.button-right:hover {
  cursor:pointer;
  opacity: .7;
}

.button-right img {
  transform: rotate(180deg);
}

.bottom-tagline-container {
  display: flex;
  flex-direction: column;
  margin: 0 18px;
  position: relative;
  z-index: 1;
}

.footer-rocket {
  background-size: cover;
  max-height: fit-content;
}

.bottom-tagline {
  color: #FFF;
  font-family: ClashGrotesk, serif;
  text-transform: capitalize;
  font-weight: 600;
}

.bottom-tagline-gradient {
  background:  linear-gradient(90deg, #9E63FF 0%, #FF2DA0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.founder {
  color: #D6DAE3;
  font-family: ClashGrotesk, serif;
  font-style: normal;
  font-weight: 500;
}

.footer-rocket {
  display: flex;
  z-index: -1;
  width: 100%;
  justify-content: center;
  position: absolute;
}

.team-column {
  display: flex;
}

.tagline-column {
  display: flex;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, #1E071F 0%, #0B091C 100%);
}

.footer-wrapper {
  max-width: 1365px;
}

footer .social-item {
  width: 16px;
  height: 16px;
}

.logo-row {
  position: relative;
  align-items: center;
  justify-content: space-between;
}

footer .social-row {
  column-gap: 8px;
}

.footer-logo {
  height: 26px;
}

.service-column-title {
  color: #F7F7FA;
  font-family: ClashGrotesk, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 123.81% */
  letter-spacing: 0.63px;
  text-transform: uppercase;
}

.footer-gradient {
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #FF2DA0 0%, #7063FF 50.75%, #16BAFF 100%);
}

.services-footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}


.services-footer-item {
  width: 100%;
  font-family: ClashGrotesk, serif;
  font-weight: 600;
  color: #7E7994;
  text-transform: uppercase;
}
.services-footer-item:hover {
  cursor: pointer;
}
.column-footer-item {
  display: flex;
  flex-direction: column;
}

.building-tagline {
  color: #545163;
  font-family: ClashGrotesk, serif;
  font-weight: 500;
}

.policy-row {
  display: flex;
  align-items: center;
  color: #7E7994;
  font-family: ClashGrotesk, serif;
  font-style: normal;
  font-weight: 600;
  column-gap: 32px;
  text-transform: uppercase;
}
.policy-row a {
  color: #7E7994;
}
.policy-row a:visited {
  color: #7E7994;
}


.footer-br {
  display: block;
}

.left-column {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team {
  position: relative;
}

.stats::after {
  content: " ";
  position: absolute;
  width: 736px;
  height: 973px;
  border-radius: 973px;
  opacity: 0.15;
  background: linear-gradient(270deg, #16BAFF 0%, #16BAFF 100%);
  filter: blur(222px);
}

.tag-container::after {
  content: " ";
  position: absolute;
  width: 1115px;
  height: 608px;
  transform: rotate(91.327deg);
  flex-shrink: 0;
  border-radius: 1115px;
  opacity: 0.2;
  background: linear-gradient(270deg, #FF2DA0 0%, #16BAFF 100%);
  filter: blur(222px);
}
.services::after {
  content: " ";
  z-index: 1;
  position: absolute;
  width: 568px;
  height: 627px;
  border-radius: 627px;
  opacity: 0.15;
  background: linear-gradient(270deg, #FB2DFF 0%, #16BAFF 100%);
  filter: blur(166px);
}

.stay-curious {
  background: linear-gradient(90.06deg, #140C26 0.06%, #251127 99.96%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stay-curious img {
  max-width: 1365px;
}

