.swiper {
    width: 100%;
    position: absolute !important;
    overflow: hidden !important;
    margin-bottom: 300px;
    /*width: 100%;*/
    max-width: 1440px;
}
.swiper-container {
    position: relative;
}

.swiper-slide img{
    height: 280px;
}



@media screen and (min-width: 320px) {
    .swiper-wrapper {
        left: 18px !important;
        right: -30px;
    }
    .swiper-slide img {
        width: 196px;
    }
}


@media screen and (min-width: 758px) {
    .swiper {
        width: 100vw;
    }

    .swiper-slide img {
        width: 214px;
    }
}

@media screen and (min-width: 1080px) {

    .swiper-slide img {
        width: 239px;
    }
}

@media screen and (min-width: 1440px) {
    .swiper-slide img {
        width: 252px;
        height: 300px;
    }
    .swiper-container {
        max-width: 1440px;
    }
}